---
layout: main
---
<h2>&nbsp;&nbsp;&nbsp;&nbsp;All Publications</h2> 
{% for post in site.posts %}
  {% if post.tag == 'pub' %}
  <article class="post">
    {% if post.img %}
    <a class="post-thumbnail" style="margin-top:{{post.margin}};"><img src={{"/assets/img/" | prepend: site.baseurl | append : post.img}}></a>
    {% else %}
    {% endif %}
    <div class="post-content">
      <h2 class="post-title">{{post.title}}</h2>
      <p>{{ post.content }}</p>
    </div>
  </article>
  {% else %}
{% endif %}
{% endfor %}

{% for post in site.posts %}
  {% if post.tag == 'otherpub' %}
  <article class="post">
    {% if post.img %}
    <a class="post-thumbnail" style="margin-top:{{post.margin}};"><img src={{"/assets/img/" | prepend: site.baseurl | append : post.img}}></a>
    {% else %}
    {% endif %}
    <div class="post-content">
      <h2 class="post-title">{{post.title}}</h2>
      <p>{{ post.content }}</p>
    </div>
  </article>
  {% else %}
{% endif %}
{% endfor %}



