---
layout: main
---
<h2>&nbsp;&nbsp;&nbsp;&nbsp;Bio</h2>
{% for post in site.posts %}
  {% if post.tag == 'about' %}
  <article class="post">
    {% if post.img %}
      <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" ></a>
    {% else %}
    {% endif %}
    <div class="post-content">
      <h2 class="post-title">{{post.title}}</h2>
      <p>{{ post.content }}</p>
    </div>
  </article>
  {% else %}
{% endif %}
{% endfor %}

<h2>&nbsp;&nbsp;&nbsp;&nbsp;Selected Publications <span style="font-weight:normal;font-size:80%"><a href="/all/index.html">[All]</a></span></h2> 
{% for post in site.posts %}
  {% if post.tag == 'pub' %}
  <article class="post">
    {% if post.img %}
    <a class="post-thumbnail" style="margin-top:{{post.margin}};"><img src={{"/assets/img/" | prepend: site.baseurl | append : post.img}}></a>
    {% else %}
    {% endif %}
    <div class="post-content">
      <h2 class="post-title">{{post.title}}</h2>
      <p>{{ post.content }}</p>
    </div>
  </article>
  {% else %}
{% endif %}
{% endfor %}


<h2>&nbsp;&nbsp;&nbsp;&nbsp;Service</h2>
{% for post in site.posts %}
  {% if post.tag == 'service' %}
  <article class="post">
    {% if post.img %}
      <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" ></a>
    {% else %}
    {% endif %}
    <div class="post-content">
      <h2 class="post-title">{{post.title}}</h2>
      <p>{{ post.content }}</p>
    </div>
  </article>
  {% else %}
{% endif %}
{% endfor %}

